<div id="modalExcluir" class="modal">
    <div class="modal-content delete-modal">
        <div class="modal-header">
            <h2>Confirmar Exclusão</h2>
            <span class="close-modal">&times;</span>
        </div>
        <div class="modal-body">
            <p>Tem certeza que deseja excluir <span id="nomeItemExcluir"></span>?</p>
            <div class="form-actions">
                <button id="botaoCancelarExclusao" class="btn-secondary">Cancelar</button>
                <button id="botaoConfirmarExclusao" class="btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>